body {
    color:rgb(56, 165, 42);
}
body {
    background-color: rgb(6, 26, 1);
}
#menu{
    color:rgb(3, 233, 183);
}
a{
    color:rgb(0, 83, 255);
}
#div1{
border: 5px solid rgb(3, 38, 70);
width: 200px;
};